# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IntelliJ metafiles
.idea

# Eclipse files
.classpath
.project
.settings
bin

# VIM files
tags
Session.vim
.gradletasknamecache
matches.bin
players.bin
